.price-plan-section .bg-secondary {
  background-color: var(--color-dark) !important;
  color: var(--color-white) !important;
  font-family: var(--font-oswald) !important;
  padding: 3rem 3rem !important;
  transition: box-shadow 0.3s ease;
}

.price-plan-section .bg-dark.text-primary {
  background-color: var(--color-primary) !important;
  color: #000000 !important;
  font-family: var(--font-oswald) !important;
  padding: 0.25rem 1.5rem;
  border-radius: 0;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
}

.price-plan-section .col-lg-6 img.img-fluid {
  width: 100%;
  height: auto;
  object-fit: cover; /* opcional: para recortar si la imagen no tiene el mismo ratio que el contenedor */
}


.price-plan-section h1.text-uppercase {
  color: var(--color-primary) !important;
  font-weight: 700;
  font-family: var(--font-oswald) !important;
  margin-bottom: 2rem;
}

.price-plan-section .d-flex.justify-content-between {
  border-color: var(--color-primary) !important;
  font-family: var(--font-oswald) !important;
}

.price-plan-section .d-flex.justify-content-between h6.text-uppercase {
  color: var(--color-white) !important;
  font-weight: 600;
  font-family: var(--font-oswald) !important;
}

.price-plan-section .d-flex.justify-content-between span.text-primary {
  color: var(--color-primary) !important;
  font-weight: 700;
  font-family: var(--font-oswald) !important;
}